/*************************************************************************/
/** Layout and Structure **/
/*************************************************************************/

html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.right {
    float: right;
}
.left {
    float: left;
}

/*****************************************************/
/** Top Navigation Structure **/
/*****************************************************/

/* Overwrite Navigation Defaults */
.navbar-nav {
    float: right;
}

.collapsing, .collapse.in {
    float: left;
}

/*****************************************************/
/** Left Navigation Structure **/
/*****************************************************/

.left-nav {
    height: 100%;
}
.segment-nav {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
    background-color: darkslategray;
}
.segment-nav ul {
    padding: 0;
}
.segment-nav li {
    display: inline-block;
    width: 45%;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}
.segment-nav li a {
    color: white;
}
.segment-nav li:first-child {
    border-right: 1px solid white; 
}
/*****************************************************/
/** Main Content Structure **/
/*****************************************************/

.clearnav {
    margin-top: 50px;
}

.main-content {
    height: 100%;
}








/*************************************************************************/
/** Styles and Colors **/
/*************************************************************************/

/*****************************************************/
/** Top Navigation Style **/
/*****************************************************/
.top-nav-active {
    
}


/*****************************************************/
/** Left Navigation Style **/
/*****************************************************/
.left-nav-col {
    background-color: #ededed;
    height: 100%;
}
.left-nav {
    margin-right: -15px;
    margin-left: -15px;
}
/*
.left-nav li a:focus {
    background-color: transparent;
    color: #337ab7;
}
*/
.left-nav li a:hover {
    background-color: darkcyan;
    color: white;
}
.left-nav li a:active {
    background-color: #1e9595;
    color: black;
}
.left-nav-active {
    background-color: #c5e0e0;
    color: black;
}

/*****************************************************/
/** Main Content Style **/
/*****************************************************/

.main-content {
    background-color: #fcfcfc;
}

/*****************************************************/
/** Waterfall Navigation Style **/
/*****************************************************/

.waterfall-title {
    margin-bottom: 50px;
}

/* D3 Waterfall Visualization Styles */
.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges;
}
.grid path {
      stroke-width: 0;
}

/*****************************************************/
/** Projects Detail View **/
/*****************************************************/
.project-pipeline {
    margin-top: 30px;
}
.tasks-container {
    height: 100%;
    border-right: 1px solid gray;
}
.tasks-title, .notes-title {
    display: inline-block;
    margin-bottom: 30px;
}
.add-task-button, .add-note-button {
    display: inline-block;
    margin-top: -8px;
    margin-left: 30px;
}
.task-name {
    margin-left: 15px;
    font-size: 18px;
}

.note {
    padding: 15px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.add-note-container, .add-task-container {
    display: none;
    margin-bottom: 30px;
}

/**********************************/
/** Custom Checkboxes **/
/**********************************/
.task {
    padding: 30px;
    position: relative;
}

.task input[type="checkbox"] {
    display: none;
}

.custom-checkbox:before {
    content: "";
    display: inline-block;
 
    width: 22px;
    height: 22px;
 
    margin-right: 20px;
    position: absolute;
    left: 15px;
    bottom: 30px;
    background-color: white;
    border: 2px solid gray;
}

.task input[type="checkbox"]:checked + .custom-checkbox:before {
    content: "\2713";
    font-size: 28px;
    font-weight: 100;
    color: #098e42;
    text-align: right;
    line-height: 15px;
}

.task:nth-child(odd) {
    background-color: #edf6ff;
}
.task:nth-child(odd).active-task {
    background-color: aquamarine;  
}
.active-task {
    background-color: aquamarine;
}

.custom-checkbox:hover:before {
    border: 2px solid #098e42;
}
.strike-through {
    text-decoration: line-through;
    text-decoration-color: #098e42;
}
.border-right-gray {
    border-right: 1px solid gray;
}



/*****************************************************/
/** Add Project Modal **/
/*****************************************************/

.modal-textbox {
    width: 50%;
    margin-bottom: 20px;
}
.modal-date {
    width: 25%;
    margin-bottom: 20px;
}

/*************************************************************************/
/** Media Queries **/
/*************************************************************************/

@media (max-width:768px) {
    .left-nav-col {
        display: none;
    }
}
@media (min-width:768px) {
    .segment-nav {
        display: none;
    }
}